<!-- Footer -->
<section id="footer">
	<footer>
		<ul class="copyright">
			<li><i class="fa fa-terminal" aria-hidden="true"></i></li><li>&copy; {{ site.title }}</li><li>Design: <a href="http://ramalmeida.dev" target="_blank">Ramon Almeida</a></li>
		</ul>
	</footer>
</section>

<!-- Scripts -->
<script src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrollex.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.scrolly.min.js' |absolute_url }}"></script>
<script src="{{ '/assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/util.js' | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ '/assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>
