<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% include header.html %}
<section id="one" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Stuff I do</h2>
			</header>
			<p>Some Skills.</p>
			<ul class="icons-grid">
				<li>
					<span class="icon major fa-code"></span>
					<h3>Python</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>Flutter</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>ReactJs</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>NodeJs</h3>
				</li>
				<li>
					<span class="icon major fa-coffee"></span>
					<h3>Coffee drinker</h3>
				</li>
				<li>
					<span class="icon major fa-bug"></span>
					<h3>Bug seeker</h3>
				</li>
				<li>
					<span class="icon major fa-rocket"></span>
					<h3>software engineer</h3>
				</li>
				<li>
					<span class="icon major fa-rebel"></span>
					<h3>DevOps</h3>
				</li>
			</ul>
		</div>
	</div>
</section> 
{% include footer.html %}
</body>
</html>
