<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% include header.html %}
<section id="one" class="main special">
	<div class="container">
		<div class="content">
			<header class="major">
				<h2>Some Skills for resume</h2>
			</header>
			<ul class="icons-grid">
				<li>
					<span class="icon major fa-rocket"></span>
					<h3>Software Engineer</h3>
				</li>
				<li>
					<span class="icon major fa-tasks"></span>
					<h3>Project Manager</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>Python</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>NodeJs</h3>
				</li>
				<li>
					<span class="icon major fa-mobile"></span>
					<h3>Swift</h3>
				</li>
				<li>
					<span class="icon major fa-mobile"></span>
					<h3>Flutter</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>VueJs</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>ReactJs</h3>
				</li>
				<li>
					<span class="icon major fa-coffee"></span>
					<h3>Coffee drinker</h3>
				</li>
				<li>
					<span class="icon major fa-bug"></span>
					<h3>Bug seeker</h3>
				</li>
				<li>
					<span class="icon major fa-github"></span>
					<h3>Git</h3>
				</li>
				<li>
					<span class="icon major fa-amazon"></span>
					<h3>AWS</h3>
				</li>
			</ul>
		</div>
	</div>
</section> 
{% include footer.html %}
</body>
</html>
